html, #root, body {
    height: 100%;
    overflow-x: hidden;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#root {
  display: flex;
  flex-direction: column;
}
#content-wrapper {
  height: 60%;
  width: 100%;
  display: flex;
}
#section-article-wrapper {
  width: inherit;
}
header, section, article, aside, footer {
  border: solid 1px gray;
  width: 100%;
}
header {
  height: 15%;
}
nav {
  height: 10%;
  display: flex;
  margin: auto;
}
section {
  height: 50%;
  background-color: red;
}
article {
  height: 50%;
  background-color: blue;
}
aside {
  height: 100%;
}
footer {
  height: 15%;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
